.container{

    width: 100%;
    margin-top: 100px;

}

.title{

    color: #03ac13;
    margin-bottom: 3rem;
}

.items{

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    transition: all 0.2s;

    
}

.items .item{

    user-select: none;
    margin: 1rem;
    background-color: #fff;
    box-shadow: #03ac131a 0px 20px 25px -5px, #03ac130a 0px 10px 10px -5px;
    width: 150px;
    border-radius: 10px;
    padding: 25px 20px 20px;

    

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item span{
    
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}


@media (max-width : 960px) {

    .items{

        justify-content: center;
        margin: 1rem 0 1rem;
    }


}
